.refresh-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  margin: 0 24px 0;
  border: none;
  border-radius: 15px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #cbff8b; 
  background:rgb(130, 130, 130);
}

.refresh-button:focus {
  background-color: #bbb;
  border: 2px solid #999;
}

.refresh-button::-moz-focus-inner {
  border: 0;
}

.refresh-button:hover {
  background-color: #bbb;
}

.refresh-button:active {
  background-color: #cbff8b;
}
